<% if flash[:success] %>
    <div class="container p-1 text-center alert alert-success" role="alert">

        <p>Nous avons réussi à créer le potin !</p>

    </div>
<% end %>

<% @gossips.reverse_each do |gossip| %>

    <div class="list-group ">
        <%= link_to gossip_path(gossip.id), :class => "list-group-item list-group-item-action py-3 bg-light" do %>
        <div class="d-flex mb-2 align-items-center gap-2">
        <img src="https://content-us.teletubbies.com/uploads/2016/03/tinky-winky.png" alt="twbs" width="32" height="32" class="rounded-circle">
        <object>
            <h6><%= link_to "#{gossip.user.first_name.capitalize}", user_path(gossip.user.id), :class => "fw-bold text-dark text-decoration-none" %></h6>
        </object>
        </div>
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0"><%= gossip.title %></h6>
                <p class="mb-0 opacity-75"><%= gossip.content %></p>
            </div>
            <div class= "d-flex flex-column align-items-end">
                <small class="opacity-50 text-nowrap"><%= gossip.created_at %></small>
                <small class="opacity-50 text-nowrap">Posté depuis : <%= gossip.user.city.name %></small>
            </div>
        </div>
        <% end %>
    </div>
<% end %>