<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div>
    <div class="card m-2" style="width: 18rem;">
        <div class="card-header">
            <h5 class= "card-title"><%= @gossip.title %></h5>
        </div>
        <div class="card-body">
            <p class="card-text"><%= @gossip.content %></p>
            <p class="card-text"><%= @gossip.user.first_name %></p>
            <p class="card-text"><%= @gossip.user.city.name %></p>
        </div>
        <%if session[:user_id]== @gossip.user.id%>
        <%= button_to 'supp', gossip_path(@gossip), method: :delete %>
        <%= link_to 'edit', edit_gossip_path(@gossip)%>
        <% end %>
    </div>

        <% @gossip.comments.reverse_each do |comment| %>
                <p><%= comment.content %></p>
                <p><%= comment.user.first_name %></p>
        <% end %>
    </div>
</div>